.item {
    color: greenyellow;
}
.item img {
    width: 50px;
    border-radius: 40px;
    border: 1.5px solid black;
}
.itemTitle {
    color: #b67e51;
    font-size: 18px;
    font-weight: bold;
}
